{% extends 'base.html.twig' %}

{% block title %}Hello ImportController!{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_import') }}">Import du CSV</a></li>
    </ul>
    <ul>
        <li><a href="{{ path('app_import_download') }}">Télécharger le modèle CSV </a></li>
    </ul>
{% endblock %}
